
<%= form_for @debt, url: 'create_debt_for_borrower' do |f| %>
  <p>РАСПИСКА</p>
  <p>в получении суммы займа</p>
  <p> г. _______________                                  "__"___________ ____ г.</p>
  <p>Я, заемщик, <input type="text" placeholder="имя заемщика" name="debt[name]" id="debt_name" /> <input type="text" placeholder="фамилия заемщика" name="debt[lastname]" id="debt_lastname" /> <input type="text" placeholder="отчество заемщика" name="debt[patronymic]" id="debt_patronymic" />,</p>
  <p>паспорт: <input type="text" placeholder="серия паспорта заемщика" name="debt[passport_series]" id="debt_passport_series" /> <input type="text" placeholder="номер паспорта заемщика" name="debt[passport_number]" id="debt_passport_number" />,</p>
  <p>выдан: <input type="text" placeholder="орган выдавший паспорт заемщика" name="debt[passport_institution]" id="debt_passport_institution" /> <input type="text" placeholder="дата выдачи паспорта заемщику" name="debt[passport_date]" id="debt_passport_date" />,</p>
  <p>проживающему(ей) по адресу: <input type="text" placeholder="адрес заемщика" name="debt[address]" id="debt_address" />,</p>
  <p>получил от <%= current_user['name'] %> <%= current_user['lastname'] %> <%= current_user['patronymic'] %>,</p>
  <p>паспорт: <%=current_user['passport_series'] %> N <%= current_user['passport_number'] %>,</p>
  <p>выдан <%= current_user['passport_institution'] %> <%= current_user['passport_date'] %>,</p>
  <p>проживающему(ей) по адресу: <%= current_user['address'] %>,</p>
  <p>денежные средства в сумме <input type="text" placeholder="сумма займа" name="debt[debt_summ]" id="debt_debt_summ" /> рублей (далее - "Сумма займа")</p>
  <p>и обязуюсь возвратить Заимодавцу Сумму займа в срок до <input type="text" placeholder="дата возврата денежных средств" name="debt[date_return_debt]" id="debt_date_return_debt" />г.</p>
  <p>"__"___________ ____ г. ______________________</p>
  <p>(подпись Заемщика)(Ф.И.О. Заемщика)</p>
  <%= f.submit %>
<% end %>