<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
  <ul class = "menu" >
    <li></li><%= link_to 'домой', root_path %></li>
    <li><%= link_to 'новая расписка', '/user_debt_main_page'
            if logged_in?
              link_to 'новая расписка', '/user_debt_main_page'
            else
              link_to 'новая расписка', '/new_debt'
            end %> </li>
    <li><%= if logged_in?
              link_to 'личный кабинет', '/personal_area'

            else
              link_to 'вход', '/signin'
            end %></li>
    <li><%= if logged_in?
              link_to 'мои расписки', '/my_debts'
            end%></li>
    <li><%= if check_admin
              link_to 'все пользователи', '/index'
            end%></li>
    <li><%= if check_admin
               link_to 'все расписки', '/all'
             end %></li> </ul>

    <div  style="text-align: right">
      <%= if current_user.nil?
            'User is not logged in'
          else
            current_user['name']
          end%>
    </div>

  <% if flash[:notice]  %>
    <div style="background-color: lemonchiffon">
      <%= flash[:notice] %>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
