<!DOCTYPE html>
<html>
  <head>
    <title>Project</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
  <ul class = 'menu' >
    <p><%= link_to 'домой', '/' %></p>
    <p><%= link_to 'новая расписка', '/user_debt_main_page'
            if logged_in?
              link_to 'новая расписка', '/user_debt_main_page'
            else
              link_to 'новая расписка', '/new_debt'
            end %></p>
    <p><%= if logged_in?
              link_to 'личный кабинет', '/personal_area'
            else
              link_to 'вход', '/signin'
            end %></p>
    <p><%= if logged_in?
              link_to 'мои расписки', '/my_debts'
            end%></p>
    <p><%= if check_admin
              link_to 'все пользователи', '/index'
            end%></p>
    <p><%= if check_admin
               link_to 'все расписки', '/all'
           end %></p></ul>


  <% if flash[:notice]  %>
    <div style="background-color: lemonchiffon">
      <%= flash[:notice] %>
    </div>
  <% end %>
    <%= yield %>
  </body>
</html>
